*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(0, 102, 255);
}

body, .quote-input{
    font-family: sans-serif;
}

.container{
    background-color: white;
    padding :1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
}

.timer{
    position: absolute;
    top: 2rem;
    font-size: 5rem;
    color: orangered;
    font-weight: bold;
}

.quote-display{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input{
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem
}

.quote-input:focus{
    border-color: black;
}



.correct{
    color: green;
}

.incorrect{
    color: red;
    text-decoration: underline;
}